@use "../../stylesUtils/" as *;

.modifyPostPopup {
  margin: 0;
  .formItems {
    .content {
      margin:0 0 10px 0;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .btnsContainer {
      align-items: center;
      height: fit-content;
      margin: 5px 10px 10px 10px;
      button {
        margin-top: 5px;
      }
    }
    .previewImgContainer {
      margin: 0 auto;
    }
    .undoChanges {
      color: $primary-color;
      margin: 0 10px;
      text-align: center;
    }
    .infoIcon {
      fill: $primary-color;
      margin-right: 10px;
    }
  }
}