@use "../../stylesUtils/" as *;

.modifyPostPopup {
  margin: 0;
  .formItems {
    .content {
      border-radius: 5px;
      margin:0 0 10px 0;
      padding: 5px 10px;
    }
    .btnsContainer {
      margin: 5px 10px 10px 10px;
      align-items:center;
      height: fit-content;
      button {
        margin-top: 5px;
      }
    }
    .previewImgContainer {
      margin: 0 auto;
    }
    /* .undoContainer {
      @include flex-center; */
      .undoChanges {
        color: $primary-color;
        margin: 0 10px;
        text-align: center;
      }
      .infoIcon {
        fill: $primary-color;
        margin-right: 10px;
      }
    // }
  }
}