@use "../../stylesUtils/" as *;

.profilePage {
  .profileContainer {
      background: white;
      max-width: 600px;
      text-align: center;
      margin: 100px auto 50px auto;
      padding: 20px 50px 20px 50px;
      border-radius: 10px;
      .userIcon {
        height: 100px;
        width: 150px;
        font-size: 100px;
        padding: 10px 0;
        border-bottom: 3px solid $secondary-color;
      }
      article {
        margin: 0 auto;
        width: 100%;
        button {
          margin: 15px auto 0 auto;
          padding: 8px 10px;
          width: fit-content;
        }
        h2 {
          text-align: left;
          font-size: 14px;
          margin: 15px 0 6px 0;
        }
        form {
          margin-top: 15px;
          input {
            padding: 6px 10px;
          }
        }
        .deleteBtn {
          width: 90%;
          background-color: $secondary-color;
          color: $primary-color;
          padding: 6px 10px;
          font-size: 14px;
        }
        .deactivateBtn {
          margin-top: 10px;
        }
      }
    }
}
.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.65);
  .react-confirm-alert-body {
    width: 500px;
    h1 {
     margin-bottom: 15px;
    }
    .react-confirm-alert-button-group {
      button {
        background: $tertiary-color;
        font-size: 15px;
        padding: 10px 25px;
        margin-top: 5px;
      }
    }
  }
}

