@use "../../stylesUtils/" as *;

.profilePage {
  .profileContainer {
      background: $white-color;
      max-width: 600px;
      text-align: center;
      margin: 100px auto 50px auto;
      padding: 20px 50px;
      border-radius: 10px;
      @include mobiles {
        margin: 100px auto 20px auto;
        max-width: 85vw;
        padding: 20px 30px;
      }
  }
}

