@use "../../stylesUtils/" as *;

.offscreen {
  position: absolute;
  left: -9999px;
}
.errMsg {
  background-color: $secondary-color;
  color: $primary-color;
  font-weight: bold;
  text-align: center;
  padding: 8px 10px;
  border-radius: 5px;
}
.hide {
  display: none;
}
.formContainer {
  margin: 20px 0;
  width: 80%;
  @include flex-column-center;
  h1 {
    font-size: 26px;
    text-align: center;
    border-radius: 0 10px 0 0;
  }
  p {
    font-size: 12px;
    margin-bottom: 10px;
    @include tablets {
      font-size: 11px;
    }
  }
  .formItems {
    margin-top: 15px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    button{
      width: 100%;
      background-color: $primary-color;
      color: $white-color;
      font-weight: 600;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      padding: 8px 10px;
      margin: 10px 0 15px 0;
      cursor: pointer;
    }
    .notDisabled:hover {
      @include shadow;
    }
    .disabled {
      cursor: default;
      &:hover {
        opacity: 0.6;
      }
    }
    .passwordLabelAndInput {
      margin: 5px 0;
    }
    .labelAndInputContainer {
      display: flex;
      align-items: center;
      @include tablets {
        flex-direction: column;
        align-items: flex-start;
      }
      @include tablets {
        margin-bottom: 8px;;
      }
      .pwdContainer {
        flex: 2;
        position: relative;
        height: 36.5px;
        width: 100%;
        margin-left: 10px;
        padding: 0;
        background-color: $background-primary;
        @include input-border;
        &:focus-within {
          @include focus-border;
        }
        @include tablets {
          margin-top: 5px;
          margin-left: 0;
        }
        input {
          flex: 2;
          background-color: transparent;
          border: none;
          margin: 0;
          &:focus {
            outline: none;
          }
        }
      }
      .showPwd {
        position: absolute;
        top: 8px;
        right: 5px;
        background-color: $background-primary;
        width: fit-content;
        margin: 0;
        padding: 0 5px 0 5px;
        outline: none;
        svg {
          color: $tertiary-color;
        }
      }
    }
    label {
     text-align: left;
     font-size: 12px;
     @include tablets {
      padding-left: 10px;
     }
    }
    textarea {
      resize: none;
      height: 100%;
      overflow: hidden;
    }
    input, textarea {
      flex: 3;
      padding: 8px 10px;
      margin: 5px 0 5px 10px;
      background-color: $background-primary;
      @include input-border;
      @include tablets {
        width: 100%;
        padding: 7px 10px;
        margin-left: 0;
      }
      &:focus {
        @include focus-border;
      }
    }
    .instructions{
      color: $primary-color;
      margin: 5px 0;
      svg {
        fill: $primary-color;
        margin-right: 10px;
      }
    }
    .valid {
      margin-left: 10px;
      svg {
        fill: limegreen;
      }
    }
    .invalid {
      margin-left: 10px;
      svg {
        fill: $primary-color;
      }
    }
    .required {
      color: $primary-color;
      text-align: center;
      margin: 5px 0 5px 0;
    }
  }
  .link {
    font-size: 12px;
    text-decoration: underline;
    @include tablets {
      text-align: center;
    }
  }
}