@use "../stylesUtils/variables.scss" as *;

// General

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.20);
}

// media queries

@mixin tablets {
  @media all and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin mobiles {
  @media all and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}