@use "../stylesUtils/variables.scss" as *;

// General

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.15);
}

@mixin input-border {
  border: 2px solid rgb(233, 233, 233);
  border-radius: 10px;
}

@mixin focus-border {
  outline: 3px solid $secondary-color;
  border: none;
}

// media queries

@mixin tablets {
  @media all and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin mobiles {
  @media all and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}