//COLORS

$primary-color: #FD2D01;
$secondary-color: #FFD7D7;
$tertiary-color: #4E5166;
$background-primary: #F6F6F6;
$border-color: #9396a9;

//FONTS
$primary-font: 'Montserrat', sans-serif;

//MEDIA QUERIES
$breakpoints: (
  tablet: 992px,
  mobile: 768px
);