@use "../../stylesUtils/" as *;

footer {
  height: 75px;
  text-align: center;
  margin-top: 10px;
  p {
    color: $secondary-color;
    font-size: 24px;
    @include mobiles {
      font-size: 14px;
    }
  }
}