@use "../../stylesUtils/" as *;
  
  .postsFeedContainer {
    width: 85%;
    margin: 0 auto;
    /* .errMsg {
        font-weight: bold;
      } */
    .linkBtn {
      padding: 5px 10px;
      cursor: pointer;
    }
  }