@use "../../stylesUtils/" as *;
  
  .postsFeedContainer {
    @include flex-column-center;
    width: 85%;
    margin: 0 auto;
    @include mobiles {
      width: 92%;
    }
    .linkBtn {
      padding: 5px 10px;
      cursor: pointer;
    }
  }