@use "../../stylesUtils/" as *;

  .offscreen {
    position: absolute;
    left: -9999px;
  }
  .errMsg {
    background-color: $secondary-color;
    color: $primary-color;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .postsFeedContainer {
    width: 85%;
    margin: 0 auto;
    .linkBtn {
      padding: 5px 10px;
      cursor: pointer;
    }
  }